{{#partial "content"}}


        <h1>Add Animal</h1>
        <form action="/save_animals" method="post">
            <label for="description">Edit this task's description</label>
            <input id="description" name="name" type="text">

        <button type="submit" class="btn btn-default">Go!</button>
    </form>

{{/partial}}

{{> layout.hbs}}