{{#partial "content"}}

    <h1> List of Animals</h1>

    {{#if animals}}
        {{#each animals }}
            <p>List of added animals</p>
            <p>{{ name }} </p>
        {{/each}}
    {{else}}
        <p>No animals!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}